# Created by .gitignore support plugin (hsz.mobi)
.idea
coverage
target
atlassian-ide-plugin.xml
backbone.conduit.iml
node_modules
npm-debug.log
spec/browser/browserSpec.bundle.js
spec/browser/browserSpec-worker.bundle.js

site/public/lib/backbone.conduit*
site/public/lib/conduit.worker*

# Book build output
_book

# eBook build output
*.epub
*.mobi

### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
