# Created by .gitignore support plugin (hsz.mobi)
.idea
coverage
atlassian-ide-plugin.xml
backbone.conduit.iml
node_modules
npm-debug.log
spec/browser/browserSpec.bundle.js
spec/browser/browserSpec-worker.bundle.js
perf/browser/browserPerf.bundle.js
